<form [formGroup]="miFormularioArray">
  <h3>Datos en vivo del formulario:</h3>
  <p>{{miFormularioArray.value | json}}</p>

  <!-- Campos de nombre y apellido -->
  <input type="text" placeholder="Nombre" formControlName="nombre"/>
  <input type="text" placeholder="Apellido" formControlName="apellido"/>

  <!-- Array con agrupaciones de telefono -->
  <div formArrayName="telefonos">
    <!-- iteramos por cada uno de los telefonos en la lista -->
    <div *ngFor="let telefono of telefonosFormulario.controls; let i=index"  [formGroupName]='i' >
      <h5>Telefono - {{i}}</h5>
      <input type="text" placeholder="Prefijo" formControlName="prefijo"/>
      <input type="text" placeholder="Numero" formControlName="numero"/>
      <button (click)="eliminarTelefono(i)">Borrar</button>
    </div>
  </div>
  <!-- Boton para añadir telefono -->
  <button (click)="anadirTelefono()">Añadir Telefono</button>
</form>
